@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* -----HEADER----- */
header {
  display: flex;
  background-color: #273852;
  justify-content: center;
  align-items: center;
  height: 100px;
}

#heading {
  width: 18em;
  background-color: white;
  color: #273852;
  border: solid red 2px;
  text-align: center;
  padding: 10px 10px;
  border-radius: 2px;
}

#heading h1 {
  letter-spacing: 0.08em;
}

#heading h6 {
  letter-spacing: 0.05em;
}

/* ----MAIN---- */
main {
  margin: 50px;
  margin-top: 40px;
}

/* -----CONTENT-HEADER ------ */
#content-headers {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}

/* -----CONTENT-HEADER-LEFT ------ */
#content-header-left h6 {
  letter-spacing: 0.09em;
  margin-bottom: 7px;
}

#content-header-left select {
  border-radius: 0;
  height: 2em;
  width: 12em;
  padding-left: 0.5em;
  border-color: #000;
}

/* -----CONTENT-HEADER-CENTER------ */
#content-header-center h2 {
  margin-top: 15px;
  color: #273852;
  letter-spacing: 0.08em;
}

/* -----CONTENT-HEADER-RIGHT------ */
#content-header-right h6 {
  letter-spacing: 0.09em;
  margin-bottom: 7px;
  margin-right: 0;
}

#email-search {
  border-radius: 0;
  height: 2em;
  width: 12em;
  padding-left: 0.5em;
  border-color: #000;
  border: 1px solid black;
  font-weight: lighter;
}

#subscribe {
  display: flex;
}

#subscribe-btn {
  background-color: #000;
  color: white;
  margin-left: -4px;
  height: 2em;
  width: 6em;
  padding: 0.2em;
  border: none;
}

/* ---- ARTICLES ----- */
.news-article {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 10%;
  height: 10%;
}

.image {
  display: flex;
  align-items: center;
}

img {
  display: block;
  width: 200px;
  height: 200px;
  background-color: #ccc;
}

#article-one,
#article-two {
  border-bottom: 1px solid #ccc;
  padding-bottom: 2rem;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2rem;
}

.article-title {
  color: #273852;
  font-weight: bold;
}

.article-date {
  font-size: smaller;
}

span {
  color: #464547;
}

.article-description {
  text-align: justify;
  font-weight: lighter;
}

.article-button {
  background-color: #d55c45;
  color: #fff;
  padding: 0 1rem;
  border: none;
  font-size: 0.9rem;
  height: 2em;
}

/* ----FOOTER---- */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  background-color: #273852;
  width: 100%;
  height: 5%;
  color: #fff;
}

/* ------Responsive-------- */
@media screen and (max-width: 1024px) {
  .article-description {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 769px) {
  .news-article {
    flex-direction: column;
  }

  .image {
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .description {
    margin-left: 0;
  }
  
  .news-article {
    margin-right: 0;
  }
}

@media screen and (max-width: 680px) {
  #content-headers {
    flex-direction: column;
  }

  #content-header-center {
    order: 3;
  }

  #content-header-right h6 {
    margin-top: 1rem;
  }
}
